# Entorno virtual
.venv/
venv/
env/
.claude
.claude/

# Caché de Python
__pycache__/
.py[cod]
*.pyo

# Distribución y empaquetado
dist/
build/
.egg-info/
.egg

# pytest
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/

# IDEs
.idea/
.vscode/
.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
.tmp
.log
